body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway/Raleway-Regular.ttf) format('ttf');
  font-family: 'Raleway-SemiBold';
  src: local('Raleway'), url(./fonts/Raleway/Raleway-SemiBold.ttf) format('ttf');
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(./fonts/Raleway/Raleway-Bold.ttf) format('ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
