:root {
  --app-logo-size: 100px;
}

#sidebar-div {
  width: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #A5A5A5;
  height: calc(100% - 48px);
   background-color: #3498DB;
}

#app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#app-logo {
  width: var(--app-logo-size);
  overflow: hidden;
}

#app-logo img {
  width: var(--app-logo-size);
}

#app-name {
  font-family: Raleway-SemiBold;
  font-size: 36px;
  margin-left: 12px;
}

#username {
  margin-left: 12px;
  font-family: Raleway-SemiBold;
  font-size: 24px;
  color: #fff;
}
.logo{
 font-size: 20px;
 font-family: Raleway;
 color: #fff;
 
}