.main-component-div {
  flex: 1;
  margin: 24px;
}


.section-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #A5A5A5;
  padding-bottom: 24px;

}

.upcoming-events {
  font-family: Raleway-Bold;
  margin: 24px 5px 5px 5px;
  font-size: 18px;
  
}
.page-name {
  font-family: Raleway-SemiBold;
  font-size: 24px;
}

.event-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  overflow-y: scroll;
  height: 85%;
  align-items: center;
}

.event-list::-webkit-scrollbar {
  display: none;
}

.event  {
  margin-bottom: 24px;
}