#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#invalidText {
    font-size: 14px;
    font-family: Raleway;
    color: crimson;
}

#prepme-logo {
    width: 150px;
    margin-top: 150px;
}

#app-name-text {
    font-family: Raleway-Bold;
    margin-bottom: 24px;
    font-size: 64px;
    color: #2E2E2E;
}

#sign-up-button {
    width: 100%;
    margin-top: 8px;
}