.event-card {
  width: 80%;
  height: 175px;
  border-radius: 30px;
  background-color: #D7E4FF;
  padding: 20px;
  margin-bottom: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

}

.event_description {
  height: 75px;
  overflow: hidden;
  margin-bottom: 15px;
}

.username {
  font-family: Raleway-SemiBold;
  color: #9784FF;
  text-align: center;
}

.event-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C4C4C4;
  display: inline-block;
  margin-right: 10px;
}

#icon-img {
  width: 50px;
  height: 50px;
}

.course {
  display: inline-block;
  font-family: Raleway-Bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.event-subject {
  font-family: Raleway-SemiBold;
}

.actions {
  display: flex;
  flex-direction: row; 
  width: 100%;
  justify-content: space-between;  
}

.action-button {
  margin-right: 3px;
  
}

.right_actions {
  display: flex;
  flex-direction: row; 
}
